<%= render :partial => 'header/header'%>
<h1> user </h1>
<table>
    <tr>
        <th>user name</th>
        <th>email</th>
    </tr>
    <tr>
        <td> <%= @user.name %> </td>
        <td> <%= @user.email %> </td>
    </tr>
</table>
